[submodule "libs/xercesc"]
	path = libs/xercesc
	url = https://github.com/colorer/xerces-c.git
[submodule "libs/zlib"]
	path = libs/zlib
	url = https://github.com/colorer/zlib.git
[submodule "libs/dlmalloc"]
	path = libs/dlmalloc
	url = https://github.com/colorer/dlmalloc.git
[submodule "libs/g3log"]
	path = libs/g3log
	url = https://github.com/colorer/g3log.git
[submodule "libs/spdlog"]
	path = libs/spdlog
	url = https://github.com/colorer/spdlog.git
