[submodule "libs/xercesc"]
	path = libs/xercesc
	url = https://github.com/colorer/xerces-c.git
[submodule "libs/zlib"]
	path = libs/zlib
	url = https://github.com/colorer/zlib.git
[submodule "libs/spdlog"]
	path = libs/spdlog
	url = https://github.com/colorer/spdlog.git
