[submodule "libs/zlib"]
	path = libs/zlib
	url = https://github.com/colorer/zlib.git
[submodule "external/xercesc"]
	path = external/xercesc
	url = https://github.com/apache/xerces-c.git
[submodule "external/spdlog"]
	path = external/spdlog
	url = https://github.com/gabime/spdlog.git
