#pragma code_page(65001)
#include <windows.h>
#include <colorer/version.h>

LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
VS_VERSION_INFO VERSIONINFO
FILEFLAGSMASK   VS_FFI_FILEFLAGSMASK
FILEFLAGS 0

#ifdef _DEBUG
| VS_FF_PRERELEASE | VS_FF_DEBUG
#endif

FILEOS VOS_NT_WINDOWS32
FILETYPE VFT_APP

FILEVERSION COLORER_VER_MAJOR,COLORER_VER_MINOR,COLORER_VER_PATCH,0
PRODUCTVERSION COLORER_VER_MAJOR,COLORER_VER_MINOR,COLORER_VER_PATCH,0

BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904B0"
        BEGIN
            VALUE "FileDescription", "Colorer - Syntax Highlighting tools"
            VALUE "FileVersion", COLORER_VERSION
            VALUE "InternalName", "Colorer"
            VALUE "LegalCopyright", COLORER_COPYRIGHT
            VALUE "OriginalFilename", "colorer.exe"
            VALUE "ProductName", "Colorer console tools"
            VALUE "ProductVersion", COLORER_VERSION
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x0409, 1200
    END
END