#include"resource.h"
#include<winresrc.h>

IDD_HRD DIALOG DISCARDABLE  0, 0, 269, 214
STYLE DS_3DLOOK | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU | WS_MINIMIZEBOX
CAPTION "hrd editor"
FONT 8, "Lucida Console"
BEGIN
 CONTROL "", IDC_REGIONS, "COMBOBOX", CBS_SIMPLE | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 7,7,190,200
 CONTROL "0xFFFFFF", IDC_FORE, "Button", BS_OWNERDRAW | WS_TABSTOP, 224,7,37,15
 CONTROL "0xFFFFFF", IDC_BACK, "Button", BS_OWNERDRAW | WS_TABSTOP, 224,22,37,15
 CONTROL "Sample Text", IDC_SAMPLE, "Button", BS_OWNERDRAW |
WS_TABSTOP, 202,42,59,15
 CONTROL "0", IDC_NUM, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 202, 60, 15, 8
 CONTROL "console colors", IDC_CONSOLE, "Button", BS_AUTOCHECKBOX |
BS_MULTILINE | WS_TABSTOP, 202, 71, 49, 20
 CONTROL "load sample", IDC_LOADSAMPLE, "BUTTON", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 203, 96, 58, 14
 CONTROL "reparse", IDC_REPARSE, "BUTTON", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 203, 112, 58, 14
 CONTROL "load hrd", IDC_LOAD, "BUTTON", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 203, 132, 58, 14
 CONTROL "save hrd", IDC_SAVE, "BUTTON", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 203, 149, 58, 14
 CONTROL "choose font", IDC_FONT, "BUTTON", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 203, 169, 58, 14
 CONTROL "close", IDCLOSE, "BUTTON", BS_DEFPUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 202,193,58,14
 CONTROL "fore:", IDC_STATIC, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 202,12,21,8
 CONTROL "back:", IDC_STATIC, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 202,26,21,8
END


IDR_COLORMENU MENU DISCARDABLE
BEGIN
    POPUP "1"
    BEGIN
        MENUITEM "black\t0",                    ID_BLACK
        MENUITEM "blue\t1",                     ID_BLUE
        MENUITEM "green\t2",                    ID_GREEN
        MENUITEM "cyan\t3",                     ID_CYAN
        MENUITEM "red\t4",                      ID_RED
        MENUITEM "purple\t5",                   ID_PURPLE
        MENUITEM "brown\t6",                    ID_BROWN
        MENUITEM "ltgray\t7",                   ID_LTGRAY
        MENUITEM "dkgray\t8",                   ID_DKGRAY
        MENUITEM "lt blue\t9",                  ID_LTBLUE
        MENUITEM "lt green\ta",                 ID_LTGREEN
        MENUITEM "lt cyan\tb",                  ID_LTCYAN
        MENUITEM "lt red\tc",                   ID_LTRED
        MENUITEM "magenta\td",                  ID_MAGENTA
        MENUITEM "yellow\te",                   ID_YELLOW
        MENUITEM "white\tf",                    ID_WHITE
        MENUITEM "default",                     ID_DEFAULT
        MENUITEM "custom...",                   ID_CUSTOM
    END
END
